<!DOCTYPE html>
<html>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

      <img src= '{{ address }}'
           alt='Rudiment' style='width:300px; height:300px;'>
    </div>

    {% if table == "chops_rudiment" %}

      {% if completed == false %}
          
        <form action="/chops/hc07-chops/Functions/update_rudiment.php">
          <center>
            <button type='submit' class='btn btn-default btn-lg'>
              <span class='glyphicon glyphicon-unchecked' style='color:red' aria-hidden='true'></span> Complete?
              <!-- Stuff to Mark this Rudiment as COMPLETED -->
              <input type = 'hidden' name = 'rudi_ID' value = '{{ rudi_ID }}'/>
            </button>
          </center>
        </form>

      {% else %}

        <center>
          <button type='submit' class='btn btn-default btn-lg'>
            <span class='glyphicon glyphicon-check' style='color:green' aria-hidden='true'></span> Completed!
          </button>
        </center>

      {% endif %}
    {% endif %}

  </div>