<!DOCTYPE html>
<html>

  <head>
    <!-- Accessing Bootstrap -->
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link href='../css/bootstrap.min.css' rel='stylesheet' media='screen'>
  </head>

      <!-- Creating a thumbnail "space" using Bootstrap's divs -->
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">

          <img src= {{ file_pic }} alt='Rudiment' style='width:242px; height:200px;'>
            <div class='caption'>
 
              <h3> {{ name }} </h3>

              {% if table == "chops_hybrids" %}

                <p> Hybrid Rudiment #{{ ID }}</p>

              {% else %}

                <p> Rudiment #{{ ID }}</p>

              {% endif %}

              <form action="/chops/hc07-chops/Library/Rudiment/rudiment.php" method=''">
                <button type='submit' class='btn btn-primary'> Click Here to learn this Rudiment
                  <input type = 'hidden' name = 'id' value = '{{ ID }}'/>
                  <input type = 'hidden' name = 'table' value = '{{ table }}'/>
                </button>
              </form>

            </div>
        </div>
      </div>
</html>